*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color1:#fff;
    --color2:black;
    --color3:orange;
    --color4:red;
    --color5:#D93025;
    --color6:#4285F4;
    --color7:#EA4335;
    --color8:#1877F2;
    --color9:#1DA1F2;
    --color10:#FFFFFF;
    --color11:#FD1D1D;
    --color12:green;
}
body, html{
    overflow-x: hidden;
    width: 100%;
}
header{
    width: 100%;
    
   background-color: var(--color3);
    position: fixed;
    align-items: center;
    z-index: 1;
    display: grid;
    height: 15vh;
    
    box-shadow: 0px 2px 3px var(--color3);
    grid-template-columns: 1fr 1fr;
}
header h2{
    font-family: "Parisienne", serif;
    font-weight: 800;

  /* padding-top: 20px; */
    padding-left: 25px;
    color:var(--color4);
    font-style: normal;
}
header ul{
    display: flex;
   align-items: center;
    justify-content: space-around;
     /* margin: 0 auto; */
} 
header ul li{
    list-style-type: none;
    font-size: 1.4rem;
}
header ul li a{
    text-decoration: none;
    transition: 1s ease-in-out;
    color:var(--color2);
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header ul li a:hover{
    border-radius: 30px;
    border: 1px solid var(--color2);
    margin-bottom: 10px;
    font-family: "parisienne";
    background-color: var(--color2);
    color:var(--color1);
    padding: 10px 15px;
}
header ul li a i{
   color:var(--color1);
   background-color: var(--color3);
   border-radius: 50%;
   padding: 10px;
   font-size: 2.5rem;
}
img{
    transition: 1s ease-in-out;
}
img:hover{
    transform: rotateY(180deg);
}
#accueil{
    padding-left: 30px;
    height: 110vh;
    width: 100%;
padding-top: 200px;
}
.father-accueil{
    display: grid;
    grid-template-columns:1fr 1fr;
}
.father-accueil div:nth-child(1){
    text-align: center;
 
    line-height: 60px;
}
.father-accueil div img{
    width: 90%;
    border-top-left-radius: 60px;
    animation: anim-image 3s linear infinite;
    border-bottom-right-radius: 60px;
    border:none;
    height: 100%;
}
@keyframes anim-image{
    0%{
        transform: translateY(50px);
    }
}
.father-accueil div button{
    background-color: var(--color2);
    color:var(--color1);
    padding: 18px 19px;
    margin-top: 20px;
    transition: 2s ease-in-out;
    cursor:pointer;
    animation:anim-button1 2.5s linear infinite;
    border-radius: 7px;
    font-size: 1.4rem;
}
@keyframes anim-button1{
    0%{
        transform: translateY(100px);
    }
}
.father-accueil div button:hover{
    background-color: var(--color1);
    box-shadow: 0px 0px 2px var(--color2);
    color:var(--color2)
}
#accueil h2{
    text-transform: capitalize;
  text-align: center;
 
 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.9rem;
}
h1{
    font-size: 4rem;
    font-family: "Parisienne", serif;
    font-weight: 500;
  color:var(--color3);
 font-style: normal;
    padding-top: 20px;
    line-height: 90px;
}
#about{
    /* height: 100vh; */
    padding: 30px;
    width: 100%;
}
 .father-about{
    display: flex;
    gap:80px;
    justify-content: space-between;
   
}
#about .father-about div h2{
  color:var(--color3);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 30px;
    padding-left: 80px;
}
.father-about div:nth-child(2){
    text-align: justify;
}
#about .father-about div img{
    width: 400px;
    height: 400px;
    margin: 0 auto;
   margin-left: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    animation: anim-image 3s linear infinite;
}
.first-para{
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: bold;
  padding-right: 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.second-para{
    margin: 0 auto;
    padding-right: 50px;
    font-weight: 500;
    text-align: justify;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 40px;
}
.second-button{
    padding: 20px 18px;
   cursor: pointer;
    background-color: var(--color2);
    color:var(--color1);
    font-size: 1.3rem;
    border-radius: 7px;
    transition: 1s ease-in-out;
    animation:anim-button1 2.5s linear infinite;
    
}

.second-button:hover{
    background-color: var(--color1);
    box-shadow: 0px 0px 2px var(--color2);
    color:var(--color2)
}

/*  section menu */

#menu{
  
   min-height: 100vh;
}
#menu h2{
    text-align: center;
    color:var(--color3);
    font-size: 1.5rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 30px;
}
#title-menu{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.3rem;
}
.father-menu{
    display: flex;
    justify-content: space-around;
    gap:20px
}
.father-menu div{
    border: 1px solid var(--color3);
    margin: 5px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 3px 3px var(--color3);
    padding: 10px;
    width: 30%;
}
.father-menu div img{
    height: 300px;
    margin: 10px;
    width: 300px;
    
    border-radius: 50%;
}
.father-menu div h3, .father-menu div h4, .father-menu div h5{
line-height: 40px;
font-weight: bold;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.father-menu div h3{
    font-size: 1.5rem;
}
.father-menu div h4{
    color:var(--color3);
    font-size: 1.4rem;
}
.father-menu div h5{
    font-size: 1.3rem;
}
.father-menu div i{
    font-size: 2.2rem;
    color:var(--color1);
    cursor: pointer;
    transition: 1.3s ease-in-out;
    background-color: var(--color3);
    padding: 19px;
 border-top-left-radius: 20px;
 border-bottom-right-radius:20px ;
    /* border-radius: 50%; */
    position: absolute;
    /* top: 9px; */
    right: 9px;
    bottom: 9px;
}
.father-menu div i:hover{
    color:var(--color3);
    border-radius: 50%;
    background-color: var(--color2);
}



/* partie service */

#service{
    /* height: 80vh; */
    padding-top: 50px;
}

#service h3, #service h2{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 50px;
}
#service h2{
    font-size:1.2rem ;
    padding-bottom: 20px;
    color:var(--color3);

}
#service h3{
    font-size: 1.6rem;
}
.father-service{
    display: flex;
    padding: 30px;
    gap: 20px;
}
.father-service div{
 
    padding-right: 10px;
    border-radius: 9px;
    padding: 15px;
    box-shadow: 0px 3px 3px var(--color3);
}
.father-service div h4{
    text-align: center;
    font-size: 1.3rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 15px;
}
.father-service div p{
    font-size: 1.2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: justify;
}
 .father-service div i{
    text-align: center;
    font-size: 2.8rem;
    color:var(--color3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* partie contact formulaire */

#contact{
    padding: 60px;
}
#contact h3, #contact h2{
    text-align: center;
    line-height: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#contact h3{
    color:var(--color3);
    padding-top: 20px;
}
#contact h2{
    font-size: 2.3rem;
    padding: 20px;
}
form{
    display: flex;
    gap: 10px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
form a{
    text-decoration: none;
    color:var(--color1)
}
textarea, input, #button3{
    width: 440px;
   
    padding: 14px;
    border-radius: 6px;
}
#button3{
    background-color: var(--color2);
    transition: 1s ease-in-out;
    cursor: pointer;
    color:var(--color1);
    font-size: 1.3rem;
}
#button3:hover{
background-color: var(--color3);
}
textarea{
    resize: none;
    height: 130px;
}

footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--color2);
    width: 100%;
}
footer h3{
    padding-bottom: 30px;
}
.parent-footer{
    display: flex;
    justify-content: space-around;
}
.parent-footer div h3{
    text-align: center;
    color:var(--color1);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
}
.parent-footer div:nth-child(2) p, .parent-footer div:nth-child(3) p{
    line-height: 30px;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;

    color:var(--color3);
}
.parent-footer div:nth-child(1) p a{
    color:var(--color1);
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2rem;
}
.parent-footer div:nth-child(1) p{
    color:var(--color1);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 40px;
}
.mail{
    font-size: 2rem;
    padding-right: 15px;
    color:var(--color5)
}
.phone{
    font-size: 2rem;
    padding-right: 15px;
    color:var(--color6)
}
.localisation{
    color:var(--color7);
    padding-right: 15px;

    font-size: 2rem;
}
.parent-footer div i{
    cursor: pointer;
    font-size: 2rem;
    transition: 1s ease-in-out;
    border-radius: 50%;
    padding: 10px;
}
.parent-footer div i:hover{
    background-color: var(--color1);
}
.facebook{
color:var(--color8);
font-size: 2rem;
padding: 10px;
}
.twitter{
   font-size: 2rem;
   color:var(--color9);
}
.tiktok{
    color:var(--color10);
}
.inst{
    color:var(--color11);
}
.whatsapp{
    color:green;
}
.copy{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 40px;
    font-size: 1.3rem;
    font-weight: bold;
}








/* partie responsive */