/* partie destinee au responsive */
@media  screen and (max-width:1250px) {
    #menu .father-menu div i{
        font-size: 2rem;
    /* position: absolute; */
       /* bottom: 5px; */
        

    }
    .second-button{
        text-align: center;
        margin: 0 auto;
        display: flex;
    }
    #about{
        padding-bottom: 100px;
    }
    .second-para{
        height: 200px;
        overflow: auto;
    }
    
}
@media  screen and (max-width:1100px) {
#menu div img{
    width: 200px;
    height: 200px;
}
#accueil img{
    width: 90%;
    height: 80%;
}



}
@media  screen and ( max-width:1030px) {
    .first-para{
        height: 100px;
        padding-bottom: 60px;
        overflow: auto;
    }
}

@media  screen and ( max-width:920px) {


#accueil{
    padding-left: 30px;
}
#accueil img{
width: 90%;
height: 60%;
}
}
@media  screen and ( max-width:995px) {
#accueil button{
    margin-top: 0px;
}
}

@media  screen and ( max-width:950px) {

.none1{
    display: none;
}
#accueil{
    padding-top: 120px;
}
}
@media screen and (max-width:795px){
#about {
padding-top:100px;
display: flex;
}
#service p{
height: 200px;
overflow: auto;
}
#about img{
    margin-top: 70px;
}
}

@media screen and (max-width:795px){
    .parent-footer{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap:30px;

    }
    .parent-footer div{
        text-align: center;
    }
    .father-about{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    #about .father-about div img{
        width: 90%;
        
    }
    #about .father-about div:nth-child(2){
        text-align: center;
        margin: 0 auto;
    }
    #menu .father-menu{
        flex-direction: column;
        display: flex;
    }
    .father-menu div{
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width:795px){
    .father-accueil{
        display: flex;
        flex-direction: column;
    }
    .father-accueil button{
       
        margin-bottom: 30px;
        text-align: center;
       
        
       
    }
    .father-accueil img{
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
    }
}
